@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: initial;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p > span:first-child{
	text-indent: 0; /* Indent the first line of stanzas. */
}

[epub|type~="z3998:poem"] p.right span:first-child{
	text-align: right;
}

[epub|type~="z3998:poem"] p.right{
	display: inline-block; /* Make stanzas only as wide as the widest line, so that first-line text-align doesn't go to the very far right on wide screens. */
}
