@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-variant: small-caps;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p > span:first-child{
	text-indent: 0; /* indent the first line of stanzas */
}

[epub|type~="z3998:poem"] p.right span:first-child{
	text-align: right;
}

figure{
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	font-style: italic;
	font-size: .75em;
}
