@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: left;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p > span:first-child{
	text-indent: 0; /* Indent the first line of stanzas. */
}

[epub|type~="z3998:poem"] p.right span:first-child{
	text-align: right;
}

[epub|type~="z3998:poem"] p.right{
	display: inline-block; /* Make stanzas only as wide as the widest line, so that first-line text-align doesn't go to the very far right on wide screens. */
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
}
